.wrapper {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 40vw;
  box-sizing: border-box;
  border-radius: 10px;
}

.rows {
  display: flex;
}

.box {
  width: 200px;
  height: 200px;
  background-color: wheat;
  border: 1px solid white;
  text-align: center;
  line-height: 200px;
  font-size: 200px;
}
