.wrapper {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vw;
  box-sizing: border-box;
  border-radius: 10px;
}

.flexBox {
  display: flex;
}

.rows {
  display: flex;
}

.box {
  width: 100px;
  height: 100px;
  background-color: wheat;
  border: 1px solid white;
  text-align: center;
  line-height: 100px;
  font-size: 100px;
}
